<app-header (selectedFeature)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12" >
      <router-outlet></router-outlet>
    </div>


    <!-- <div class="col-md-12" >
      <div *ngIf="selectedFeature ==='recipeBook';then recipeList; else shoppingList"></div>
      <ng-template #recipeList>
        <app-recipes #recipeList></app-recipes>
      </ng-template>
      <ng-template #shoppingList>
        <app-shopping-list ></app-shopping-list>
      </ng-template>
    </div>
  </div>-->
  <!-- <button type="button" class="btn btn-primary" *ngIf="!isAuthenticated" (click)="authenticate()">Primary</button> -->
</div>
<router-outlet></router-outlet>
